<header class="app-header">
  <div class="app-header-navigation">
    <div class="dashboard-submenu submenu">
    <h2>Profile</span>
    </div>
  </div>
  <div class="app-header-actions">
    <a href="/profil" class="user-profile">
      <span id="profile-name">Loading</span>
      <span>
        <img src="https://assets.codepen.io/285131/almeria-avatar.jpeg" />
      </span>
    </a>
    <div class="app-header-actions-buttons">
      <div class="icon-button">
        <i class="ph ph-magnifying-glass"></i>
      </div>
      <div class="icon-button">
        <i class="ph ph-bell"></i>
      </div>
    </div>
  </div>
</header>
